.card {
  width: 30%;
  margin: 1rem;
}

.card a {
  text-decoration: none;
  color: rgb(79, 79, 197);
}


@media only screen and (max-width: 900px) {
  .card {
    width: 60%;
  }
}



@media only screen and (max-width: 700px) {
  .card {
    width: 90%;
  }
}